<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho de DW2</title>
    
    <link rel="stylesheet" href="/styles/jogadores.css">
</head>
<body>
    <main>
        <section class="section-cards">
            <div class="card">
                <img src="" alt="">
                <div class="card-text-area">
                    <h1>Nome</h1>
                    <span>Nome completo do player</span>
                    <div class="text">
                        <p class="atributo">Posição: </p>
                        <p class="valor">Valor</p>
                    </div>
                    
                    <div class="text">
                        <p class="atributo">Seleção: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Clube: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Altura: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Peso: </p>
                        <p class="valor">Valor</p>
                    </div>
                </div>
                <div class="div-buttons">
                    <a href="#">Alterar</a>
                    <a href="#">Excluir</a>
                </div>
            </div>

            <div class="card">
                <img src="" alt="">
                <div class="card-text-area">
                    <h1>Nome</h1>
                    <span>Nome completo do player</span>
                    <div class="text">
                        <p class="atributo">Posição: </p>
                        <p class="valor">Valor</p>
                    </div>
                    
                    <div class="text">
                        <p class="atributo">Seleção: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Clube: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Altura: </p>
                        <p class="valor">Valor</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Peso: </p>
                        <p class="valor">Valor</p>
                    </div>
                </div>
                <div class="div-buttons">
                    <a href="#">Alterar</a>
                    <a href="#">Excluir</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>