<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecao</title>

    <link rel="stylesheet" href="../styles/selecao.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <ul>
            <div id="div-header-qatar">
                <li><h1 id="qatar-name">QATAR</h1></li>
            </div>
            <div id="div-header-options">
                <li><a href=""><h3>Home</h3></a></li>
                <li><a href=""><h3>Jogadores</h3></a></li>
                <li><a href=""><h3>Seleções</h3></a></li>
                <li><img src="../images/logo-copa.svg" alt="simbolo_copa_catar"></li>
            </div>
        </ul>
    </header>
    <main>
         <section>

             <div class = "card">

                <img class = "selecao" src = "../images/selecao-icon.jpeg">

                <div class="content">

                    <h2>Brasil</h2>
                
                    <div class="text">
                        <p class="atributo">Tecnico</p> 
                        <p class="valor">Tite</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Copas do Mundo</p> 
                        <p class="valor">6</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Participação em copas</p> 
                        <p class="valor">19</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Racking</p> 
                        <p class="valor">9</p>
                    </div>

                    <a href="#">Alterar</a>
                    <a href="#">Alterar</a>

                </div>

             </div>

             <div class = "card">

                <img class = "selecao" src = "../images/selecao-icon.jpeg">
                
                <div class="content">

                    <h2>Brasil</h2>
                
                    <div class="text">
                        <p class="atributo">Tecnico</p> 
                        <p class="valor">Tite</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Copas do Mundo</p> 
                        <p class="valor">6</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Participação em copas</p> 
                        <p class="valor">19</p>
                    </div>

                    <div class="text">
                        <p class="atributo">Racking</p> 
                        <p class="valor">9</p>
                    </div>

                    <div class="butao"></div>
                        <a href="#">Alterar</a>
                        <a href="#">Alterar</a>
                    </div>

                </div>

             </div>

            
             
        </section>

        <a href="#">Adiconar</a>

    </main>
    
</body>
</html>