main{

    display: flex;

}

form{
    margin-top: 6em;
    margin-bottom: 6.4rem;
    background-color: #731943;
    max-width: 600px;
    width: 100%;
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 1.2rem; */
    border-radius: 5px;
    /* z-index: -1; */
   
}

form h3{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

form input{
    font-size: 1rem;
    border-radius: 5px;
    margin: 2rem
}

form input[type=text], form input[type="number"], form input[type="date"], form select{
    width:100%;
    height: 2rem;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    color: black;
}

/* ::placeholder{
    padding-left: 10px;
} */



form input[type=submit]{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color:green;
    color: white;
    border: 0;
    margin: 10px 0;
    border-radius: 10px;
}

form select {
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
    /* color */
}

form input[type=submit]:hover{
    background-color: rgb(49, 172, 49);
    transition: 0.5s;
}

form input[type="date"]{
    padding-left: 10px;
    /* color: red; */
}

