.section-cards{
    display: flex;
}

.card{
    margin: 0 2rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rebeccapurple;
}

#complete-name, .card h1, .card a{
    text-align: center;
}

.card img{
    /* min-width: 25rem;
    min-height: 10rem; */
}

.card-text-area{
    padding: 0 2rem;
}

.text{
    display: flex;
    column-gap: 10px;
}

.atributo{
    display:flex;
    margin-right: auto;         
    color: red;       
}

.valor{
    display: flex;
    margin-left: auto;
}

.div-buttons{
    text-align: center;
}