.section-cards{
    display: flex;
}

.card{
    margin: 3rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rebeccapurple;
}

.complete-name, .card h1, .card a{
    text-align: center;
}

.card h1{
    margin-bottom: 0;
    padding-bottom: 0;
}

.complete-name{
    margin-top: 0.2rem;
    font-size: 14px;
}

.card img{
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.card-text-area{
    padding: 0 2rem;
}

.text{
    display: flex;
    column-gap: 10px;
}

.atributo{
    display:flex;
    margin-right: auto;         
    color: red;       
}

.valor{
    display: flex;
    margin-left: auto;
}

.div-buttons{
    text-align: center;
}

section{
    /* margin: 10rem; */
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    /* max-width: 90%; */
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    /* max-width: 80%; */
}