:root{
    font-family: Roboto;
    --buttom-color: #0D0D0D;
    --button-color-hover: #1d1d1d;
    --buttom-header-font-color: #A66D88;
    --index-main-color: #731943;
}

html, body{
    padding: 0;
    margin: 0;
}

header li{
    list-style: none;
}

header ul{
    display: flex;
    align-items: center;
    margin: 0;
}

#qatar-name{
    font: 400 40px Roboto Slab;
    padding: 0;
}

#div-header-options{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

#div-header-options h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--buttom-header-font-color);
    margin: 0 3rem;
}

a{
    text-decoration: none;
}

#div-header-options img{
    margin: 0 1rem;
    min-width: 75px;
    min-height: 75px;
}

section{
    /* margin: 10rem; */
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    /* max-width: 90%; */
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    /* max-width: 80%; */
}