*{
    margin: 0;
    padding: 0;
}


section{
    margin: 10rem;
    display: flex;
}

.card{
    box-shadow: 0 4px 8px 0 rebeccapurple;
    padding: 2rem 3.6rem;
    margin: 5rem;

}

.card img{

    max-width: 100;

}
.card .content h2{
    text-align: center;
}

.card .text{
    display: flex;
    column-gap: 10px;
/*    margin: 1rem;*/
}

.atributo{
    display:flex;
   /* align-items: center; */
    margin-right: auto;         
    color: red;       
}
.valor{
    display: flex;
    margin-left: auto;
}

.card  .content {
    padding: 10px;
}

.butao{
    text-align: center;
    margin: 2.6rem;
}

body{
    background-color: fffff;
}
